{% extends "register/base.html" %}
{% block content %}
{% for a in shopdata_list %}
{% if forloop.first %}

<h3>{{a.get_shop_display}}店</h3>
{% else %}
{% endif %}
{% endfor %}
<table class="table table-sm">
    <tr>
        <td>日付</td>
        <td>売上</td>
        <td>客数</td>
        <td>組数</td>
        <td>単価</td>
        <td>生産性</td>
        <td>人件費</td>
       
    </tr>

{% for data in shopdata_list %}

    
<tr>    
<th>{{data.days}}
    {% if data.days|date:"D" == "日" %}
    <small><span style="color: #F00;">({{ data.days | date:"D" }})</span>
    </small></td>
    {% elif data.days|date:"D" == "土" %}
    <small>
          <span style="color:#0000FF">({{ data.days | date:"D" }})</span>
    </small></td>
    {% else %}
    <small>({{ data.days|date:"D" }})</small></td>

           {% endif %}


</th>
<td>{{data.sales}}円</td>
<td>{{data.gest}}名</td>
<td>{{data.gloup}}組</td>
<td>{{data.one}}円</td>
<td>{{data.maketime}}円</td>
<td>{{data.labor}}%</td>
</tr>



{% endfor %} 
</table>
{% endblock %}