{% extends "register/base.html" %}
{% block content %}
<title>Home</title>

<p></p>
{% if user.is_superuser %}

<small>管理者権限を持っていない場合この画面は表示されません。スタッフにはシフト提出画面のみ表示され、その他のページは表示されません。
</small>
<h4>---使い方---</h4>
<p>スタッフ各自に登録をしてもらい、シフトを提出してもらってください。<br>

<h5>・シフトの確認方法</h5>
<p>
確認画面へ行き各店のシフトを確認できます。<br>
過不足に関しては、設定を行った場合のみ反映されます。<br>
天気は各店の場所の天気予報が表示されます。<br>
日本気象協会【https://tenki.jp/】のページの情報を表示しています、そのため2日後-10日後の天気のみ表示されます。<br>
<small>天気予報が外れて私は知りません。</small>
</p>

<h5>・設定</h5>
<p>
設定画面から各日の必要人数が設定できます。<br>
設定を行った場合、シフト確認画面で必要人数に対しての過不足が表示されます。<br>
カレンダーには祝日は反映されませんので各自で確認を行ってください。<br>
店長、社員がシフトの提出を行わない前提の場合はスタッフのみの必要人数を入力することをお勧めします。
</p>
<h5>ユーザーリスト</h5>
<p>
あまり使わないと思いますが各店の在籍人数などを確認することができます。
退職したスタッフはここから削除を行うことができます。

</p>
<h6>その他</h6>
<p>不具合などあれば加藤木まで連絡ください、出来る限り対応致します。<br>
 追加してほしい機能や要望がありましたらそちらも併せて連絡ください。   


</p>

{% else %}



<div class='row'>
    <div class='col-2'></div>
    <div class='col-8'>
        <a  href="{% url 'shift:month_with_forms' user.pk  %}" class="btn btn-success btn-lg btn-block">Shift提出</a>
    </div>
    <div class="col-2"></div>
</div>

{% endif %}
{% endblock %}