{% extends "register/base.html" %}
{% block content %}
<form action="{% url 'register:user_date_confirm' %}" method="POST">
    {{ form.non_field_errors }}
    {{shop_form.shop}}
    {% for field in form %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
        {{ field }}
        {{ field.errors }}
    </div>
    {% endfor %}
    {% csrf_token %}
    <button type="submit" class="btn btn-primary btn-lg">送信</button>
</form>
{% endblock %}
