{% extends "register/base.html" %}
{% load math_tags %}
{% block content %}
<title>UserList</title>

<!-- Large button groups (default and split) -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-link" href="{% url 'register:user_list' %}">全店</a>
 
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        {% for s in bshop %}
        <a class="nav-item nav-link" href="{% url 'register:shop_list' s.shop %}">{{s.get_shop_display}}店</a>
        {% endfor %}
      </div>
  </div>
</nav>
<table class="table table-bordered">
        <thead>
          <tr>
                <th>Shop</th>
                <th>Position</th>
                <th>Name</th>
                <th>Age</th>
                <th>Birth</th>
                <th>Start</th>
          </tr>
        </thead>
        <tbody>
               
                {% for user in shops %}
                <tr>
                <td>{{user.shops.get_shop_display}}店</td>
                <td>{{ user.userdata.get_position_display}}</td>
                <td>{{ user.last_name }}&nbsp;{{user.first_name}}</td>
                <td>{{user.userdata.date_of_birth|age}}</td> 
                <td>{{user.userdata.date_of_birth}}</td>
                <td>{{user.userdata.start_day }}  </td>
                <td><a href="{% url 'register:user_delete' user.pk %}">削除</a></td>{{ user.schedule }}
                </tr>{% endfor %}

        </tbody>
      </table>

{% endblock %}