{% extends "register/base.html" %}
{% block content %}
<title>Config</title>

    <style>
        /* table {
            table-layout: fixed;
        } */
        
    </style>
 
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <div class="navbar-text" >{{ user.shops.get_shop_display }}店</div>
        <div class="navbar-text" >&nbsp;&nbsp;&nbsp;</div>
        <a class="nav-item nav-link" href="{% url 'shift:day_config' user.shops.shop week_previous.year week_previous.month week_previous.day　%}">前<<<</a>
    <div class="navbar-text" >{{ week_first}}-{{ week_last }}</div>
    <a class="nav-item nav-link"href="{% url 'shift:day_config' user.shops.shop week_next.year week_next.month week_next.day%}">>>>次</a>
      </div>
    </div>
  </nav>
    <p>・日毎の必要人数を入力してください</p>
    <p>・設定を行わない場合、過不足は表示されません</p>
    <p>・祝日は自動反映されません</p>
    
<form action="" method="POST">
        {{ month_formset.management_form }}{% for week_day_forms in month_day_forms %}
        <table class="table">{% for day, forms in week_day_forms.items %}
            
                <tr> <td>{{ day | date:"n" }}月{{day |date:"j"}}日 
                    {% if day|date:"D" == "日" %}
                    <small>
                        <span style="color: #F00;">({{ day | date:"D" }})</span>
                    </small></td>
                    {% elif day|date:"D" == "土" %}
                    <small>
                        <span style="color:#0000FF">({{ day | date:"D" }})</span>
                    </small></td>
                    {% else %}
                    <small>
                    ({{ day|date:"D" }})
                </small></td>
                   {% endif %}
                   {% for form in forms %}
                   
                    <td>{{ form.date.as_hidden }}{{form.id}}{{form.day_need}}
                    </td></tr>
                    {% endfor %}{% endfor %}
                
            {% endfor %}
            </tbody>
        </table>
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">送信</button>
    </form>
{% endblock %}
