{% extends "register/base.html" %}
{% block content %}
{% load crispy_forms_tags %}

{% load static %}

<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" /> -->
<style>
table {
    width: 30px;
  }
  table,th,td {
    border: 1px solid #bbb;
  }

    
</style>
<a href="{% url 'shift:master' shopnum  month_previous.year month_previous.month  month_previous.day  %}">前月</a>
{{ month_current | date:"Y年m月" }}
<a href="{% url 'shift:master' shopnum  month_next.year month_next.month month_previous.day%}">次月</a>


<table class="table table-bordered"　>

    <div class="container">
        <div class="row">
         
        

    <form action="" method="POST">
        {{ month_formset.management_form }}
       

  <tr> <th class="col-xs-1">User</th></div>
  {% for day in month_day_forms %}
  
  <th class="col-xs-1">{{day | date:"n"}}月{{day | date:"j" }}日 </th> 
 {%endfor%}</tr>

 <tr>
    
{% for index,a in month_day_forms.iterrows %}
<div class="row">
<th class="col-xs-1">{{index.last_name}}&nbsp;{{index.first_name}}</th>
<td class="col-xs-1">{{a.0.date}}{{a.0.id}}{{a.0.start_at|as_crispy_field}}<br>{{a.0.end_at|as_crispy_field}}{{a.DELETE}}</td>
<td class="col-xs-1">{{a.1.date}}{{a.1.id}}{{a.1.start_at|as_crispy_field}}<br>{{a.1.end_at|as_crispy_field}}</td>
<td class="col-xs-1">{{a.2.date}}{{a.2.id}}{{a.2.start_at|as_crispy_field}}<br>{{a.2.end_at|as_crispy_field}}</td>

<td class="col-xs-1">{{a.3.date}}{{a.3.id}}{{a.3.start_at|as_crispy_field}}<br>{{a.3.end_at|as_crispy_field}}</td>
<td class="col-xs-1">{{a.4.date}}{{a.4.id}}{{a.4.start_at|as_crispy_field}}<br>{{a.4.end_at|as_crispy_field}}</td>
<td class="col-xs-1">{{a.5.date}}{{a.5.id}}{{a.5.start_at|as_crispy_field}}<br>{{a.5.end_at|as_crispy_field}}</td>
<td class="col-xs-1">{{a.6.date}}{{a.6.id}}{{a.6.start_at|as_crispy_field}}<br>{{a.6.end_at|as_crispy_field}}</td>
<td class="col-xs-1">{{a.7.date}}{{a.7.id}}{{a.7.start_at|as_crispy_field}}<br>{{a.7.end_at|as_crispy_field}}</td>
<td class="col-xs-1">{{a.8.date}}{{a.8.id}}{{a.8.start_at|as_crispy_field}}<br>{{a.8.end_at|as_crispy_field}}</td>
<td class="col-xs-1">{{a.9.date}}{{a.9.id}}{{a.9.start_at|as_crispy_field}}<br>{{a.9.end_at|as_crispy_field}}</td>
<td class="col-xs-1">{{a.10.date}}{{a.10.id}}{{a.10.start_at|as_crispy_field}}<br>{{a.10.end_at|as_crispy_field}}</td>
<td class="col-xs-1">{{a.11.date}}{{a.11.id}}{{a.11.start_at|as_crispy_field}}<br>{{a.11.end_at|as_crispy_field}}</td>
<td class="col-xs-1">{{a.12.date}}{{a.12.id}}{{a.12.start_at|as_crispy_field}}<br>{{a.12.end_at|as_crispy_field}}</td>
<td class="col-xs-1">{{a.13.date}}{{a.13.id}}{{a.13.start_at|as_crispy_field}}<br>{{a.13.end_at|as_crispy_field}}</td>
<td class="col-xs-1">{{a.14.date}}{{a.14.id}}{{a.14.start_at|as_crispy_field}}<br>{{a.14.end_at|as_crispy_field}}</td>
</div>
{% if a.15.start_at == None %}


{% else %}
<div class="col-xs-1"></div><td>{{a.15.date}}{{a.15.id}}{{a.15.start_at}}<br>{{a.15.end_at|as_crispy_field}}</td>
{%endif%}
</div></tr>
    
    {%endfor%}
</table>
{% csrf_token %}
<button type="submit" class="btn btn-primary">送信</button>
</form>


{% endblock %}