{% extends "register/base.html" %}
{% block content %}


{% load static %}

<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" /> -->


<style>
.mgr-10{
    margin-right : 100px;
}
    
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-link" href="{% url 'shift:shift_list' %}">全店</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        {% for s in bshop %}
        <a class="nav-item nav-link" href="{% url 'shift:shopshift_list' s.shop %}">{{s.get_shop_display}}店</a>
        {% endfor %}
        
      </div>
    </div>
  </nav>
<div class="row">
  <div class="col-sm">
    <h3>{{ week_first}}-{{ week_last }}</h3>
    </div>  </div>
<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="{% url 'shift:shift_list'  week_previous.year week_previous.month week_previous.day %}">前</a></li>
      <li class="page-item"><a class="page-link" href="{% url 'shift:shift_list'  week_next.year week_next.month week_previous.day %}">次</a></li>
    </ul>
  </nav>

  <table class="table table-bordered"　>

    <th>User</th>
    {% for day in df %}
    <th>{{day | date:"j" }}日 
      {% if day|date:"D" == "日" %}
        <small>
            <span style="color: #F00;">({{ day | date:"D" }})</span>
        </small></th>
        {% elif day|date:"D" == "土" %}
        <small>
              <span style="color:#0000FF">({{ day | date:"D" }})</span>
        </small></th>
        {% else %}
          <small>({{ day|date:"D" }})</small></th>
    
               {% endif %} {% endfor %}

{% for index,row in df.iterrows %}
{% if index == "希望人数" %}

<tr>    
    <th bgcolor="#EEEEEE">{{index}}</th>
    <td  bgcolor="#EEEEEE">{{row.0}}</td>
    <td  bgcolor="#EEEEEE">{{row.1}}</td>
    <td  bgcolor="#EEEEEE">{{row.2}}</td>
    <td  bgcolor="#EEEEEE">{{row.3}}</td>
    <td  bgcolor="#EEEEEE">{{row.4}}</td>
    <td  bgcolor="#EEEEEE">{{row.5}}</td>
    <td  bgcolor="#EEEEEE">{{row.6}}</td>
    
    
    
    
   
</tr>
{% elif index == "必要人数" %}

<tr>    
    <th bgcolor="#EEEEEE">{{index}}</th>
    <td  bgcolor="#EEEEEE">{{row.0}}</td>
    <td  bgcolor="#EEEEEE">{{row.1}}</td>
    <td  bgcolor="#EEEEEE">{{row.2}}</td>
    <td  bgcolor="#EEEEEE">{{row.3}}</td>
    <td  bgcolor="#EEEEEE">{{row.4}}</td>
    <td  bgcolor="#EEEEEE">{{row.5}}</td>
    <td  bgcolor="#EEEEEE">{{row.6}}</td>
   
    
    
    <td  bgcolor="#EEEEEE">{{row.15}}</td>
   
</tr>
{% elif index == "過不足"%}

<tr>    
    <th bgcolor="#EEEEEE">{{index}}</th>
    {% if row.0 < 0 %}
    <td  bgcolor="#ff7f50">{{row.0}}</td>
    {% else %}
    <td  bgcolor="#EEEEEE">{{row.0}}</td>
    {% endif %}
    {% if row.1 < 0 %}
    <td  bgcolor="#ff7f50">{{row.1}}</td>
    {% else %}
    <td  bgcolor="#EEEEEE">{{row.1}}</td>
    {% endif %}
    {% if row.2 < 0 %}
    <td  bgcolor="#ff7f50">{{row.2}}</td>
    {% else %}
    <td  bgcolor="#EEEEEE">{{row.2}}</td>
    {% endif %}
    {% if row.3 < 0 %}
    <td  bgcolor="#ff7f50">{{row.3}}</td>
    {% else %}
    <td  bgcolor="#EEEEEE">{{row.3}}</td>
    {% endif %}
    {% if row.4 < 0 %}
    <td  bgcolor="#ff7f50">{{row.4}}</td>
    {% else %}
    <td  bgcolor="#EEEEEE">{{row.4}}</td>
    {% endif %}
    {% if row.5 < 0 %}
    <td  bgcolor="#ff7f50">{{row.5}}</td>
    {% else %}
    <td  bgcolor="#EEEEEE">{{row.5}}</td>
    {% endif %}
    {% if row.6 < 0 %}
    <td  bgcolor="#ff7f50">{{row.6}}</td>
    {% else %}
    <td  bgcolor="#EEEEEE">{{row.6}}</td>
    {% endif %}
    
   
</tr>
{% else %}
<tr>
    <th>{{index}}</th>
    
    
    <td>{{ row.0.get_start_time_display}}-{{ row.0.get_end_time_display }}</td>
    <td>{{row.1.get_start_time_display}}-{{row.1.get_end_time_display}}</td>
    <td>{{row.2.get_start_time_display}}-{{row.2.get_end_time_display}}</td>
    <td>{{row.3.get_start_time_display}}-{{row.3.get_end_time_display}}</td>
    <td>{{row.4.get_start_time_display}}-{{row.4.get_end_time_display}}</td>
    <td>{{row.5.get_start_time_display}}-{{row.5.get_end_time_display}}</td>
    <td>{{row.6.get_start_time_display}}-{{row.6.get_end_time_display}}</td>
   
</tr>
{% endif %}
{% endfor %}


</table>

  
    

{% endblock %}