{% extends "register/base.html" %}
{% block content %}
 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <div class="nav-item nav-link" >{{ user.shops.get_shop_display }}店</div>
      <a class="nav-item nav-link" href="{% url 'shift:master' shopnum  week_previous.year week_previous.month week_previous.day  %}">前<<<</a>
  <div class="nav-item nav-link" >{{ week_first}}-{{ week_last }}</div>
  <a class="nav-item nav-link"href="{% url 'shift:master' shopnum   week_next.year week_next.month week_next.day%}">>>>次</a>
    </div>
  </div>
</nav>
    <div class = "common-form">
    <form action="" method="POST">
      <div class="form-group">
      
          
          
            <table>
              <th width="15%"></th>
              <th></th>
              <h2>{{ user.shops.get_shop_display }}店&nbsp; 店舗設定</h2>
              <p>・日毎の必要人数を入力してください</p>
              <p>・この設定はベースの店舗設定よりも優先されます</p>
              <th></th>
              
              <tr>
                  <td >平日</td>
                  <td>{{ form.base_pa_a }}</td>
              </tr>
              <tr>
                <td><p>祝前</p></td>
                <td >{{ form.base_pa_b }}</td>
              </tr>             
              <tr>
                  <td >土日</td>
                  <td>{{ form.base_pa_c }}</td>
                  
                  
              </tr>
              
              {{ form.shops.as_hidden }}
            </table>
            {% csrf_token %}
        </div>
    
      
        <button  type="submit" class = "submit" class="btn btn-primary btn-lg">設定</button>
    
    </form>
    </div>
    {% endblock %}
