{% extends "register/base.html" %}
{% block content %}

<style>
.mgr-10{
    margin-right : 100px;
}
    
</style>
    <h3>{{ week_first | date:"Y年m月d日" }}〜{{ week_last | date:"Y年m月d日" }}</h3>

    <table>

        <tbody>
            {% for day,schedules in week_day_schedules.items %}
        <tr>
            
    <th><div class="text-center">{{day | date:"n"}}月{{day | date:"j" }}日 
    {% if day|date:"D" == "日" %}
      <small>
          <span style="color: #F00;">({{ day | date:"D" }})</span>
      </small></div></th>
      {% elif day|date:"D" == "土" %}
      <small>
            <span style="color:#0000FF">({{ day | date:"D" }})</span>
      </small></div></th>
      {% else %}
        <small>({{ day|date:"D" }})</small></div></th>
  
             {% endif %}
            </div><hr></td>

       
            {% for s in schedules %}
            <td>   
            {% if s is None %} 
            ✕<hr>   
            {% else%}
            {{ s.get_start_time_display }} - {{ s.get_end_time_display }}<hr></td>
            
            {%endif%}      
                
            
        </tr>{% endfor %}{% endfor %}
        </tbody>
    </table>
        <a href="{% url 'shift:month_with_forms' user.pk %}" >
        <button type="submit" class="btn btn-primary">Turn Back</button></a>
        <a href="{% url 'register:top' %}" >
            <button type="submit" class="btn btn-primary">Ok</button></a>
    
    

{% endblock %}