{% extends "register/base.html" %}
{% block content %}


{% load static %}

<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" /> -->


<style>
.mgr-10{
    margin-right : 100px;
}
    
</style>
<a href="{% url 'app:shift_list' %}" >全店</a>
<a href="{% url 'app:shopshift_list' 1 %}" >目黒</a>
<a href="{% url 'app:shopshift_list' 5 %}">上野広小路</a>
<a href="{% url 'app:shopshift_list' 4 %}">神保町</a>
<a href="{% url 'app:shopshift_list' 6 %}">北千住</a><br>

<h3>{{ week_first}}-{{ week_last }}</h3>
<a href="{% url 'app:shift_list'  week_previous.year week_previous.month week_previous.day %}">前月</a>
<a href="{% url 'app:shift_list'  week_next.year week_next.month week_previous.day %}">次月</a>

<table border="1">
    <th>User</th>
    {% for day in df %}
    <th>{{day | date:"j" }}日 {% if day|date:"D" == "日" %}
        <small>
            <span style="color: #F00;">({{ day | date:"D" }})</span>
        </small></td>
        {% elif day|date:"D" == "土" %}
        <small>
            <span style="color:#0000FF">({{ day | date:"D" }})</span>
        </small></td>
        {% else %}
        <small>
        ({{ day|date:"D" }})
    </small></td>
       {% endif %} {% endfor %}

    {% for index,row in df.iterrows %}
{% if index == "希望人数" %}

<tr>    
    <th bgcolor="#EEEEEE">{{index}}</th>
    <td  bgcolor="#EEEEEE">{{row.0}}</td>
    <td  bgcolor="#EEEEEE">{{row.1}}</td>
    <td  bgcolor="#EEEEEE">{{row.2}}</td>
    <td  bgcolor="#EEEEEE">{{row.3}}</td>
    <td  bgcolor="#EEEEEE">{{row.4}}</td>
    <td  bgcolor="#EEEEEE">{{row.5}}</td>
    <td  bgcolor="#EEEEEE">{{row.6}}</td>
    <td  bgcolor="#EEEEEE">{{row.7}}</td>
    <td  bgcolor="#EEEEEE">{{row.8}}</td>
    <td  bgcolor="#EEEEEE">{{row.9}}</td>
    <td  bgcolor="#EEEEEE">{{row.10}}</td>
    <td  bgcolor="#EEEEEE">{{row.11}}</td>
    <td  bgcolor="#EEEEEE">{{row.12}}</td>
    <td  bgcolor="#EEEEEE">{{row.13}}</td>
    <td  bgcolor="#EEEEEE">{{row.14}}</td>
    
    {% if row.15 == True %}
    <td  bgcolor="#EEEEEE">{{row.15}}</td>
    {% else %}
    {% endif %}
</tr>
{% else %}

<tr>    
    <th>{{index}}</th>
    <td>{{row.0}}</td>
    <td>{{row.1}}</td>
    <td>{{row.2}}</td>
    <td>{{row.3}}</td>
    <td>{{row.4}}</td>
    <td>{{row.5}}</td>
    <td>{{row.6}}</td>
    <td>{{row.7}}</td>
    <td>{{row.8}}</td>
    <td>{{row.9}}</td>
    <td>{{row.10}}</td>
    <td>{{row.11}}</td>
    <td>{{row.12}}</td>
    <td>{{row.13}}</td>
    <td>{{row.14}}</td>
    
    {% if row.15 == True %}
    <td>{{row.15}}</td>
    {% else %}
    {% endif %}
</tr>
{% endif %}
{% endfor %}

</table>

  
        <a href="{% url 'app:month_with_forms' user.pk %}" >
        <button type="submit" class="btn btn-primary">Turn Back</button></a>
        <a href="{% url 'register:top' %}" >
            <button type="submit" class="btn btn-primary">Ok</button></a>
    
    

{% endblock %}