{% extends "register/base.html" %}
{% block content %}
 
    
    <div class = "common-form">
    <form action="" method="POST">
      <div class="form-group">
      
          
          
            <table>
              <th width="15%"></th>
              <th></th>
              <h2>{{ user.shops.get_shop_display }}店&nbsp; 店舗設定</h2>
              <th></th>
              
              <tr>
                  <td >平日</td>
                  <td>{{ form.base_pa_a }}</td>
              </tr>
              <tr>
                <td><p>祝前</p></td>
                <td >{{ form.base_pa_b }}</td>
              </tr>             
              <tr>
                  <td >土日</td>
                  <td>{{ form.base_pa_c }}</td>
                  
                  
              </tr>
              
              {{ form.shops.as_hidden }}
            </table>
            {% csrf_token %}
        </div>
    
      
        <button  type="submit" class = "submit" class="btn btn-primary btn-lg">設定</button>
    
    </form>
    </div>
    {% endblock %}
